server {
  listen 5173;
  server_name _;

  root /usr/share/nginx/html;

  location = ${ADMIN_BASE_PATH} {
    return 308 ${ADMIN_BASE_PATH}/;
  }

  location ${ADMIN_BASE_PATH}/ {
    alias /usr/share/nginx/html/app/;
    index index.html;
    try_files $uri $uri/ ${ADMIN_BASE_PATH}/index.html;
  }
}
